/* General styling and normalizing */
@font-face {
    font-family: 'Norse Bold';
    src:url('./Norse-Bold.otf') format('opentype');
}

:root {
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Styling for form background and title section */
.backdrop {
    width: 45%;
    height: 100%;
    background-image: url('./marek-piwnicki-0iN0KIt6lYI-unsplash.jpg');
    background-size: 100% 100%;
    position: relative;
}

.title {
   position: absolute;
   text-align: center;
   width: 100%;
   top: 20%;
   font-size: 80px;
   font-weight: bold;
   font-family:  system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   color: rgb(3, 30, 80);
   background-color: rgba(245, 245, 245, 0.4);
}


/* Styling for main form section */
.main-form{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

/* Styling for form info section */
.form-info{
    display: flex;
    align-items: center;
    height: 45%;
    padding-left: 40px;
}

.form-info > p {
    font-size: 28px;
    font-weight: 700;
    padding: 20px;
}


/* Styling for form input section */
.form-inputs{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    background-color: seashell;
    padding-left: 40px;
}

.form-inputs > h1 {
    margin-bottom: 0px;
}

.form-data{
    display: flex;
}

.form-data > div {
  width: 30%;
  font-size: 12px;
  padding-right: 2px;
}

#sign-up{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-row > div{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 10px;
    width: 50%;
}

input{
    appearance: none;
    outline: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 2px solid transparent;
}

input:hover, input:focus{
    box-shadow: 2px 2px 4px;
}

input:focus{
    outline: 2px solid rgb(0, 122, 252);
}

input:not(:placeholder-shown):not(:focus):invalid {
    background-color: rgba(255, 0, 0, 0.2);
    transition: background-color 200ms linear;
}

input:not(:placeholder-shown):not(:focus):valid {
    background-color: rgba(0, 128, 0, 0.2);
    transition: background-color 200ms linear;
}

input:not(:placeholder-shown):focus {
    background-color: white;
    transition: background-color 200ms linear;
}

#firstName + span::after{
    position: absolute;
    content: "*";
    top: 0px;
    left: 80px;
    z-index: 20;
    color: red;
}

#email + span::after{
    position: absolute;
    content: "*";
    top: 0px;
    left: 42px;
    z-index: 20;
    color: red;
}

#password + span::before{
    position: absolute;
    content: "*";
    top: 0px;
    left: 70px;
    z-index: 20;
    color: red;
}

#confirmPassword + span::after{
    position: absolute;
    content: "*";
    top: 0px;
    left: 130px;
    z-index: 20;
    color: red;
}

/* Styling for form submission section */
.form-submit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 35%;
    padding-top: 10px;
    padding-left: 40px;
}

.form-submit > button {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: rgb(74, 125, 213);
    color: white;

}

.form-submit > button:focus, .form-submit > button:hover {
    box-shadow: 2px 2px 4px;
    background-color: white;
    color:black;
}

.form-submit > button:active{
    box-shadow: 0px 0px 0px;
}

@media screen and (max-width: 850px) {
    body{
        justify-content: center;
        flex-direction: column;
    }

    .backdrop{
        width: 100%;
        height: 25%;
    }

    .main-form {
        width: 100%;
        height: 75%;
    }

    .form-data{
        width: 100%;
    }

    #sign-up{
        align-items: center;
        width: 100%;
    }

    .form-inputs{
        align-items: center;
        padding-left: 0px;
    }

    .form-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
    }

    .form-row > div{
        margin-bottom: 10px;
        margin-right: 0px;
        width: 60%;
       
    }

    .form-submit{
        padding-left: 0px;
        align-items: center;
        height: 35%;
    }

    .form-inputs > h1, .form-inputs > p{
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .form-info{
        padding-left: 0px;
    }

    .form-info > p {
        text-align: center;
    }
    
    .form-data{
        flex-direction: column;
        align-items: center;
    }

    .form-data > div{
        padding-top: 20px;
        width: 60%;
    }
}